body {
    font-family: 'Catamaran', sans-serif;
    background-color: snow;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
    background-color: #e6ffff;
    width: 50%;
}

.header-buttons {
    text-align: center;
    position: relative;
    top: 50vh;

}

.index-navbar {
    padding-left: 0;
}

.index-dropdown {
    background-color: #222;
    border-color: #080808;
}

.index-dropdown > li > a {
    color: #999;
    text-align: center;
}

.index-dropdown > li > a:hover {
    color: #fff;
    background-color: #000;
}

.navbar {
    border: none;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    padding: 1px 1px;
}

.navbar-header {
    padding-left: 5px;
    padding-right: 5px;
}

.portfolio-brand {
    height: 100%;
    border: 1px solid transparent;
}

.background-img-index {
    background: url(https://lh3.googleusercontent.com/HB9Q_-PjVTloDMcVe6SMWta9c7MMdUoxrCswFC9EY_Hu1ZyyYuHLBnW1VC0nTdmi28N3HCKyi8RC4Sj-vK3k6GFmGYrgSt8LbJmaGVBZQjXy8MJiB_YRPo2ZwksSbclwr1eAkyPZAwTqQUPtthdMk9xnuhlAKizDZtfDsSO7u6tH5wTYI7ka9mmCOG_TVLYSTkxh9GByby-ppd1QXy1Io4ToSOuoX0t_LTTXmA1mAb006xGcSf-rUp23_Tvk8Vq1zTOnQvWsaVptiYjHBbJhgQlezhUAxDevAsfAXd2s6bfa8kjVrehMV2-G4uOb745MvPrEIOFiMRoI749mlnMH3BlYTZOOIFvRTymDNs5iihGfrJyaJxZRpVVgt7YiVNvkmv9hTSVYQMqBhHsg9op01-6Hm5n1f-iq3vjFwmz0PKVmWl1Df61AH72O2ypnerdnGL61nCj_JvagwcfBNmcoCYwbrj2Tui5CoP3rp5WCYCtiILZMNm285cXzakb5_1T7_pVpf1WDAfH_17VFIRbiSGbmtZbAluYHpZjr1zgf1gyr5tWL3p2PdsVdc9ztPoR5Qy6tsUhxTX-zOhM4R5QwHEaI6Pn1JDBuC6tUd_P-UKC_g1y_=w1426-h950-no) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.index-heading {
    position: relative;
    top: 150px;
}

.index-heading-style {
    color: #e6ffff;
    font-family: 'Arima Madurai', cursive;
    font-size: 7em;
}

.index-heading-style-caption {
    color: #e6ffff;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 2.5em;
}

.index-main {
    margin-top: 50px;
}

.index-main-div {
    padding: 20px;
}

.index-main-pic {
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #aaaaaa;
    margin-bottom: 4px;
}

.index-main-paragraph {
    font-size: 1.25em;
}

.index-main-below {
    background-color: #f7fcff;
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
}

.hr-style {
    border-color: grey;
}

.modal-dialog {
    width: 90%;
}

.frogger {
    width: 80%;
    height: 350px;
    display: block;
}

.frogger-padding {
    padding-left: 100px;
}

.me2 {
    border: 3px solid black;
    border-radius: 25%;
    margin: 15px;
    height: 300px;
}

.index-footer {
    background-color: #f7fcff;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar {
        text-align: center;
    }

    #frogger {
        margin: 0 auto;
    }

    .me2 {
        margin: 0 auto;
    }
}
